---
import Layout from "../layouts/Layout.astro";

//sections
import Hero from "../components/sections/Hero";
import AdvisoryCarousel from "../components/sections/AdvisoryCarousel";
import AccountingSolutionsSection from "../components/sections/AccountingSolutionsSection";
import TrainingSection from "../components/sections/TrainingSection";
import DigitalTransformationSection from "../components/sections/DigitalTransformationSection";
import FAQSection from "../components/sections/FAQSection";
---

<Layout title="Contagesti">
  <section id="inicio">
    <Hero imageSrc="/images/image-hero.png" />
  </section>
  <AdvisoryCarousel client:visible />
  <AccountingSolutionsSection />
  <TrainingSection
    client:load
    entrepreneurImageSrc="/images/image-contagesti-emprendedor.png"
    teamImageSrc="/images/image-contagesti-equipo.png"
  />
  <DigitalTransformationSection />
  <FAQSection client:visible />
</Layout>
